.ButtonTheme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80px;
    position: relative;
    height: 38px;
    background-color: var(--icons-background);
    cursor: pointer;
    border: none;
    border: 1px solid var(--border);
    border-radius: 50px;

    .icons-day {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .icons-night {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    .ball {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        top: 2px;
        left: 3px;
        transition: .3s;
        border: 1px solid var(--border);
    }
}


.dark {
    --text: #fff;
    --background: #000;
    --background-contrast: #a09db5;
    --violet: #ce2fc1;
    --red: #ff0000;
    --border: #627c9d;
    --icons-background: rgb(116, 46, 221);
    --button-background: rgb(17, 29, 34);
    --shadow: rgb(20, 20, 26);
    --header: rgb(10, 13, 19);

    img {
        filter: invert();
    }

}