.ButtonTheme {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: blue;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.dark{
    --text: #f8f8f8;
    --text-contrast: #a196e3;
    --background: #000000;
    --background-contrast: #201852;
    --violet: #3b1237;
    --red: #ff0000;
    --border: #525252;
    --border-red: rgb(108, 19, 19);
    img {
        filter: invert();
    }
}

