.container {
  width: 460px;
  height: 334px;
  box-sizing: border-box;
  margin-top: 120px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  color: var(--color-four);
  background-color: var(--color-three);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  height: 70px;
}
.blockText {
  width: 400px;
}
.title {
  font-size: 16px;
  margin-bottom: 4px;
}
.meaning {
    color: var(--color-four);
    opacity: 40%;
    text-transform: uppercase;
}
.flash {
  background-color: var(--color-six);
  width: 10px;
  height: 10px;
  margin: 6px;
  /* border: 1px solid var(--color-four); */
  border-radius: 50%;
  box-shadow: var(--shadow-one);
  box-shadow: var(--shadow-one);
}
