.ButtonInput {
    input {
        width: 288px;
        background-color: var(--button-background);
        border: none;
        color: var(--text);
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
    }
}