.Header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
}
.BlockMenuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Line {
  position: absolute;
  background-color: var(--color-four);
  width: 100%;
  height: 1px;
  bottom: 0px;
  opacity: 10%;
}
