.input {
    display: flex;
    justify-content: center;
    flex-direction: column;

    label {
        color: var(--text);
        font-weight: 400;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    input {
        border: 1px solid var(--border);
        color: var(--text);
        background-color: var(--background);
        font-weight: 400;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
      input:focus::placeholder {
        opacity: 0%;
    }
}