.BlockInformation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}
.TitleInformation {
  color: var(--color-four);
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* .ContainerCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 56px;
  width: 282px;
  height: 302px;
  border-radius: 15px;
  background: linear-gradient(90deg, #d051f3 0%, #0cb683 60%, #363799 100%);
} */
.Card {
  position: relative;
  margin-block-end: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: 280px;
  height: 300px;
  color: var(--color-ten);
  background: linear-gradient(45deg, var(--color-one) 0%, var(--color-two) 50%);
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.Card::after,
.Card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), red, blue, green, yellow, red);
  border-radius: 18px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 3px;
  z-index: -1;
  animation: 8s spin linear infinite;
}
.Card::before {
  filter: blur(20px);
  opacity: 80%;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.Title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px 80px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  box-shadow: var(var(--shadow-one));
}
