:root {
  --text: #879aa8;
  --text-contrast: #ffffff;
  --background: #000000;
  --background-contrast: #0e0d17;
  --violet: #5c23b8;
  --red: #ff0000;
  --border: #525252;
  --border-red: rgb(108, 19, 19);
}