:root {
    --text: #fff;
    --background: #051023;
    --background-contrast: #a09db5;
    --violet: #ce2fc1;
    --red: #ff0000;
    --border: #627c9d;
    --icons-background: #4ecaab;
    --button-background: rgb(17, 29, 34);
    --shadow: rgb(20, 20, 26);
    --header: rgb(10, 13, 19);

    img {
        filter: invert();
    }
}