.LearnWords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .ru-word {
        margin: 10px;
        color: var(--text);
        font-weight: 400;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .word-options {
        margin: 10px;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}