.List {
    display:flex;
    justify-content: space-between;
    flex-direction: row;

    .learned-words {
        width: 50vh;
        height: 100vh;
        border: 1px solid var(--border);
    }

    .not-learned-words {
        width: 50vh;
        height: 100vh;
        border: 1px solid var(--border);
    }

    h3 {
        color: var(--text);
        padding: 10px;
        border-bottom: 1px solid var(--border);
    }
    p {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        color: var(--text);
    }
}

