
html{
  background-color: var(--color-one);
  z-index: -1;
}
#root {
  position: relative;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.limiter {
  box-sizing: border-box;
  padding-left: 160px;
  padding-right: 100px;
}
