.Lable {

    border: 1px solid var(--border);
    span {
        color: var(--text);
        background-color: var(--background-contrast);
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
    }
}