.button-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    background-color: var(--background-contrast);
    width: 400px;
    border-radius: 10px;
    background: rgb(7, 7, 54);
    background: radial-gradient(circle, rgb(10, 10, 19) 0%, rgba(0, 0, 0, 1) 100%);
    border: 1px solid var(--border);

    p {
        text-align: end;
        letter-spacing: 2px;
        color: var(--text-contrast);
        font-weight: 400;
        font-size: 20px;
        margin-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    img {
        width: 23px;
        height: 23px;
        filter: invert();
        margin-left: 30px;
        cursor: pointer;
    }
}