.Graphic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.BlockManagement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
}
.Items {
  color: var(--color-four);
  background-color: var(--color-eight);
  padding: 16px;
  border-radius: 12px;
  opacity: 40%;
  cursor: pointer;
}
.ItemsActive {
  color: var(--color-four);
  background-color: var(--color-eight);
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.BlockGraphic {
  background-color: var(--color-eight);
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  border-radius: 20px;
}

.ItemGraphic {
  display: none;
}
.ItemGraphicActive {
  display: block;
}