/* .Modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: scale(0);
} */
/* .activeModal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: scale(1);
} */
.ModalContainer {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-two);
}

.Title {
  color: var(--color-nine);
  font-weight: 300;
}
/* .Form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */
/* .LabelTexarea {
  color: var(--color-nine);
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 30px;
} */
/* .DictText {
  background-color: var(--color-three);
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  color: var(--color-four);
  font-size: large;
  text-align: left;
  padding: 20px;
  box-shadow: var(--shadow-two);
} */
/* .CheckBoxBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--color-three);
  height: 70px;
  margin-top: 38px;
  margin-bottom: 38px;
  border-radius: 20px;
  border: 1px solid var(--color-six);
  box-shadow: var(--shadow-two);
} */
/* .CheckBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  accent-color: var(--color-six);
  border-radius: 0.25em;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
} */
/* .LabelCheckBox {
  color: var(--color-nine);
  font-weight: 500;
  margin-left: 20px;
} */
/* .BlockButton {
  display: flex;
  justify-content: flex-end;
} */
.ButtonCancel {
  color: var(--color-four);
  font-weight: 800;
  font-size: 18px;
  border: 1px solid var(--color-four);
  width: 139px;
  height: 49px;
  border-radius: 12px;
  background: linear-gradient(90deg, #11134b 0%, #630d0d 100%);
}
.Button {
  background-color: var(--color-six);
  margin-left: 20px;
  color: var(--color-four);
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 12px;
  box-shadow: var(--shadow-one);
}
.BlurBack {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  /* backdrop-filter: blur(8px); */
}
